<input type="file" class="file-input" 
        [accept]="requiredFileType"
        (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">
    <button type="button" class="upload-btn btn btn-primary btn-sm rounded-pill" (click)="fileUpload.click()">
        <i class="fa fa-paperclip"></i>
    </button>

    <span class="file-name" *ngIf="fileName">
        <p>
            <a (click)="downloadFile(fileId)">{{fileName}}</a>
            <a class="btn btn-danger btn-sm rounded-pill" (click)="deleteFile(fileId)">
                <i class="fa fa-trash"></i>
            </a>
        </p>
    </span>
</div>
