<div class="animated fadeIn">
  <header class="header header-sticky mb-4"></header>

  <div class="row">
      <div class="col">
          <div class="card">
              <div class="card-header">
                  <div class="card-label"> Período </div>
              </div>

              <div class="card-body">
                  <form [formGroup]="periodForm" (ngSubmit)="onSubmit()">
                      <div class="row">
                          <div class="col-lg-2 col-md-2">
                              <input-container errorMessage="i" label="Cód">
                                <input id="id" class="form-control" formControlName="id" autocomplete="off" [readonly]="true">
                              </input-container>
                          </div>

                          <div class="col-lg-2 col-md-2">
                              <input-container errorMessage="Nome é obrigatório" label="Nome">
                                <input id="name" class="form-control" formControlName="name" autocomplete="off" [readonly]="readonly">
                              </input-container>
                          </div>

                          <div class="col-lg-2 col-md-2">
                            <input-container errorMessage="Data Inicial é obrigatório" label="Data Inicial">
                              <input type="date" id="start_date" class="form-control" formControlName="start_date" autocomplete="off" [readonly]="readonly || !this.isAddMode">
                            </input-container>
                        </div>

                        <div class="col-lg-2 col-md-2">
                          <input-container errorMessage="Data Fim é obrigatório" label="Data Fim">
                            <input type="date" id="end_date" class="form-control" formControlName="end_date" autocomplete="off" [readonly]="readonly || !this.isAddMode">
                          </input-container>
                        </div>

                        <div class="col-lg-2 col-md-2">
                          <div class="form-group">
                              <label class="form-label" for="inputSuccess">Status</label>
                              <ng-select [items]="statusOptions" bindLabel="label" bindValue="value" id="status" formControlName="status" ngDefaultControl>
                              </ng-select>
                          </div>
                        </div>
                      </div>
  
                      <hr>

                      <div class="form-group form-footer">
                          <a routerLink="/periodo" class="btn btn-light rounded-pill btnVoltar">Voltar</a>
  
                          <button [disabled]="loading || periodForm.invalid" class="btn btn-primary rounded-pill" *ngIf="!readonly">
                              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                              Salvar
                          </button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
