<div class="animated fadeIn">
    <header class="header header-sticky mb-4"></header>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="card-label"> Usuários </div>
                </div>

                <div class="card-body">
                    <form [formGroup]="passwordUserForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12">
                                <input-container errorMessage="Nome é obrigatório" label="Nome">
                                    <input id="name" class="form-control" formControlName="name" autocomplete="off" [readonly]="readonly">
                                </input-container>
                            </div>

                            <div class="col-lg-5 col-md-5">
                                <input-container errorMessage="Senha Atual é obrigatório" label="Senha Atual  ">
                                    <input type="password" id="password" class="form-control" formControlName="password" autocomplete="off">
                                </input-container>
                            </div>

                            <div class="col-lg-5 col-md-5">
                                <input-container errorMessage="Nova Senha é obrigatório" label="Nova Senha">
                                    <input type="password" id="password_new" class="form-control" formControlName="password_new" autocomplete="off">
                                </input-container>
                            </div>

                            <div class="col-lg-5 col-md-5">
                                <input-container errorMessage="Confirmação de Nova Senha é obrigatório" label="Confirmação de Nova Senha">
                                    <input type="password" id="password__new_confirmation" class="form-control" formControlName="password__new_confirmation" autocomplete="off">
                                </input-container>
                            </div>
                        </div>
    
                        <hr>

                        <div class="form-group form-footer">
                            <a routerLink="/" class="btn btn-light rounded-pill btnVoltar">Voltar</a>
    
                            <button [disabled]="loading || passwordUserForm.invalid" class="btn btn-primary rounded-pill">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Alterar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
