<ng-progress></ng-progress>

<app-header
  [navbarBrandRouterLink]="['/']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo-william1.svg', width: 65, height: 35, alt: 'Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo-william1.svg', width: 30, height: 30, alt: 'Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'"
  [asideMenuToggler]=false
  [mobileAsideMenuToggler]=false>

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/9.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" style="margin-right: 40px;"/>
      </a>

      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center">
          <strong>{{user.name}}</strong>
        </div>
        <a class="dropdown-item" (click)="logout()" style="cursor: pointer;"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>

<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
  </app-sidebar>

  <main class="main">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<app-footer>
  <span class="ml-auto">
    <a href="#" target="_blank">William Simionatto Nepomuceno</a>&nbsp;© 2022        
  </span>
</app-footer>
