<div class="animated fadeIn">
  <header class="header header-sticky mb-4"></header>

  <div class="ibox middle">
    <div class="ibox-content">
      <div class="ibox-header">
          <div class="ibox-title">Acesso negado</div>
      </div>
      <div class="ibox-body">
          <div class="inline-content">
            <span class="inline-body">Você não possui permissão para acessar essa página.</span>
            <a href="/" class="btn btn-primary rounded-pill m-t">Voltar</a>
          </div>
        </div>
    </div>
  </div>
</div>
