<div class="animated fadeIn">
	<header class="header header-sticky mb-4"></header>

    <div class="row">
		<div class="col">
			<div class="card">
				<div class="card-header">
					<div class="card-label"> Leitura d'água </div>

					<div class="card-header-actions">
						<a class="btn btn-primary rounded-pill" routerLink="add" *ngIf="hasPermission('inserir')">
							<i class="fa fa-plus"></i> Novo Registro
						</a>
                    </div>
				</div>

                <div class="card-body table-responsive">
                    <table class="table table-striped border datatable">
                        <thead>
                            <tr>
                                <th>Condomínio</th>
                                <th width="10%">Data Leitura</th>
                                <th width="15%">Data Vencimento</th>
                                <th width="10%">Status</th>
                                <th width="11%" style="text-align: center">Ações</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let leitura of leituraAgua">
                                <td>{{leitura.condominio.name}}</td>
                                <td>{{formatDateBr(leitura.dataleitura)}}</td>
                                <td>{{formatDateBr(leitura.datavencimento)}}</td>
                                <td>
                                    {{leitura.periodo.status == 'A' ? 'Aberto' : 'Fechado'}}
                                </td>

                                <td style="cursor: pointer;text-align: center">	
									<a class="btn btn-primary btn-sm rounded-pill" routerLink="edit/{{leitura.id}}" *ngIf="isEnabledToEdit(leitura) && hasPermission('alterar')">
										<i class="fa fa-pencil"></i>
									</a>

                                    <a class="btn btn-success btn-sm rounded-pill" routerLink="edit/{{leitura.id}}" *ngIf="!isEnabledToEdit(leitura) && hasPermission('alterar')">
										<i class="fa fa-search"></i>
									</a>

									<a class="btn btn-danger btn-sm rounded-pill" (click)="delete(leitura)" *ngIf="hasPermission('excluir')">
										<i class="fa fa-trash"></i>
									</a>
								</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
			</div>
        </div>
    </div>
</div>