<div class="animated fadeIn">
	<header class="header header-sticky mb-4"></header>

	<div class="row">
		<div class="col">
			<div class="card">
        <div class="card-header">
          <div class="card-label"> Política de Privacidade Madre Paulina </div>
        </div>

				<div class="card-body">
          <b>Esta política é válida a partir de Outubro de 2022.</b>
          <br />

          Condomínio Madre Paulina, pessoa jurídica de direito privado leva a sua privacidade a sério e zela pela segurança e proteção de dados de todos os seus clientes, parceiros, fornecedores e usuários do site domínio 
          <a href="https://madre-paulina.herokuapp.com/">Condomínio Madre Paulina</a> e qualquer outro site, loja ou aplicativo operado pelo Condomínio.

          <br />
          Esta Política de Privacidade destina-se a informá-lo sobre o modo como nós utilizamos e divulgamos informações coletadas em suas visitas à nosso sistema e em mensagens que trocamos com você.
          <br />
          Esta Política de Privacidade aplica-se somente a informações coletadas por meio do sistema.

          <br />
          <br />
          <b>AO ACESSAR O SISTEMA, ENVIAR COMUNICAÇÕES OU FORNECER QUALQUER TIPO DE DADO PESSOAL, VOCÊ DECLARA ESTAR CIENTE COM RELAÇÃO AOS TERMOS AQUI PREVISTOS E DE ACORDO COM A POLÍTICA DE PRIVACIDADE, A QUAL DESCREVE AS FINALIDADES E FORMAS DE TRATAMENTO DE SEUS DADOS PESSOAIS QUE VOCÊ DISPONIBILIZAR NO SISTEMA.</b>

          <br />
          <br />

          Esta Política de Privacidade fornece uma visão geral de nossas práticas de privacidade e das escolhas que você pode fazer, bem como direitos que você pode exercer em relação aos Dados Pessoais tratados por nós. Se você tiver alguma dúvida sobre o uso de Dados Pessoais, entre em contato com wiilliam.sn0226@gmail.com.
          <br />
          <br />
          Além disso, a Política de Privacidade não se aplica a quaisquer aplicativos, produtos, serviços, site ou recursos de mídia social de terceiros que possam ser oferecidos ou acessados por meio do aplicativo. 
          O acesso a esses links fará com que você deixe o nosso site e poderá resultar na coleta ou compartilhamento de informações sobre você por terceiros. 
          
          <br />
          Nós não controlamos, endossamos ou fazemos quaisquer representações sobre sites de terceiros ou suas práticas de privacidade, que podem ser diferentes das nossas. 
          Recomendamos que você revise a política de privacidade de qualquer site com o qual você interaja antes de permitir a coleta e o uso de seus Dados Pessoais.

          <br />
          <br />
          Caso você nos envie Dados Pessoais referentes a outras pessoas físicas, você declara ter a competência para fazê-lo e declara ter obtido o consentimento necessário para autorizar o uso de tais informações nos termos desta Política de Privacidade.

          <b>Seção 1 - Definições</b>
          Para os fins desta Política de Privacidade:
          <br />
          <b>Dados Pessoais:</b> significa qualquer informação que, direta ou indiretamente, identifique ou possa identificar uma pessoa natural, como por exemplo, nome, CPF, data de nascimento, endereço IP, dentre outros;
          <br />
          <b>Dados Pessoais Sensíveis:</b> significa qualquer informação que revele, em relação a uma pessoa natural, origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico;
          <br />
          <b>Tratamento de Dados Pessoais:</b> significa qualquer operação efetuada no âmbito dos Dados Pessoais, por meio de meios automáticos ou não, tal como a recolha, gravação, organização, estruturação, armazenamento, adaptação ou alteração, recuperação, consulta, utilização, divulgação por transmissão, disseminação ou, alternativamente, disponibilização, harmonização ou associação, restrição, eliminação ou destruição. Também é considerado Tratamento de Dados Pessoais qualquer outra operação prevista nos termos da legislação aplicável;
          <br />
          <b>Leis de Proteção de Dados:</b> significa todas as disposições legais que regulam o Tratamento de Dados Pessoais, incluindo, porém sem se limitar, a Lei nº 13.709/18, Lei Geral de Proteção de Dados Pessoais (<b>LGPD</b>).

          <br />
          <br />
          <b>Seção 2 - Uso de Dados Pessoais</b>
          <br />
          Coletamos e usamos Dados Pessoais para gerenciar seu relacionamento conosco e melhor atendê-lo quando você estiver adquirindo produtos e/ou serviços no sistema, personalizando e melhorando sua experiência. Exemplos de como usamos os dados incluem:
          <br />

          <ul>
            <li>
              Viabilizar que você adquira produtos e/ou serviços no sistema;
            </li>
            <li>
              Para confirmar ou corrigir as informações que temos sobre você;
            </li>
            <li>
              Para enviar informações que acreditamos ser do seu interesse;
            </li>
            <li>
              Para personalizar sua experiência de uso da loja;
            </li>
            <li>
              Para entrarmos em contato por um número de telefone e/ou endereço de e-mail fornecido. Podemos entrar em contato com você pessoalmente, por mensagem de voz, através de equipamentos de discagem automática, por mensagens de texto (SMS), por e-mail, ou por qualquer outro meio de comunicação que seu dispositivo seja capaz de receber, nos termos da lei e para fins comerciais razoáveis.
            </li>
            <li>
              Além disso, os Dados Pessoais fornecidos também podem ser utilizados na forma que julgarmos necessária ou adequada: (a) nos termos das Leis de Proteção de Dados; (b) para atender exigências de processo judicial; (c) para cumprir decisão judicial, decisão regulatória ou decisão de autoridades competentes, incluindo autoridades fora do país de residência; (d) para aplicar nossos Termos e Condições de Uso; (e) para proteger nossas operações; (f) para proteger direitos, privacidade, segurança nossos, seus ou de terceiros; (g) para detectar e prevenir fraude; (h) permitir-nos usar as ações disponíveis ou limitar danos que venhamos a sofrer; e (i) de outros modos permitidos por lei.
            </li>
          </ul>

          <br />
          <br />
          <b>Seção 3 - Não fornecimento de Dados Pessoais</b>
          <br />
          Não há obrigatoriedade em compartilhar os Dados Pessoais que solicitamos. No entanto, se você optar por não os compartilhar, em alguns casos, não poderemos fornecer a você acesso completo à loja, alguns recursos especializados ou ser capaz de prestar a assistência necessária ou, ainda, viabilizar a entrega do produto ou prestar o serviço contratado por você.
          <br />
          <br />

          <b>Seção 4 - Dados coletados</b>
          <br />
          O público em geral poderá navegar no sistema sem necessidade de qualquer cadastro e envio de Dados Pessoais. <br />
          No entanto, algumas das funcionalidades da loja poderão depender de cadastro e envio de Dados Pessoais como concluir a compra/contratação do serviço e/ou a viabilizar a entrega do produto/prestação do serviço por nós.

          No contato a loja, nós podemos coletar: <br />
          Dados de contato: <b>nome, sobrenome, número de telefone, endereço, cidade, estado e endereço de e-mail;</b>
				</div>
			</div>
		</div>
	</div>
</div>

