<div class="animated fadeIn">
    <header class="header header-sticky mb-4"></header>

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <div class="card-label"> Usuários </div>

            <div class="card-header-actions">
              <a class="btn btn-primary rounded-pill btnCadastrar" routerLink="add">
                <i class="fa fa-plus"></i> Novo Registro
              </a>            
          </div>
        </div>

          <div class="card-body">
            <table class="table table-striped border datatable">
              <thead>
                <tr>
                  <th width="5%">Código</th>
                  <th>Nome</th>
                  <th>E-mail</th>
                  <th>Ativo</th>
                  <th width="10%">Ações</th>
                </tr>
              </thead>

              <tbody>
                <tr class="align-middle">
                  <td>1</td>
                  <td>Fulano de Tal</td>
                  <td>fulanodetal@mail.com</td>
                  <td>
                      <span class="badge bg-success-gradient">Ativo</span>
                  </td>
                  <td>
                    <a class="btn btn-success btn-sm">
                      <i class="fa fa-search"></i>
                    </a>

                    <a class="btn btn-primary btn-sm">
                        <i class="fa fa-pencil"></i>
                    </a>

                    <a class="btn btn-danger btn-sm">
                        <i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
                <tr class="align-middle">
                  <td>2</td>
                  <td>Ciclano</td>
                  <td>Ciclano@mail.com</td>
                  <td>
                    <span class="badge bg-dark-gradient">Inativo</span>
                  </td>

                  <td>
                    <a class="btn btn-success btn-sm">
                      <i class="fa fa-search"></i>
                    </a>

                    <a class="btn btn-primary btn-sm">
                      <i class="fa fa-pencil"></i>
                    </a>

                    <a class="btn btn-danger btn-sm">
                      <i class="fa fa-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
</div>