<div class="mestreDetalhe">
    <div class="mestreDetalhe-content">
        <div class="mestreDetalhe-header">
            <div class="mestreDetalhe-title">
                <span>Condôminos</span>
            </div>

            <div class="mestreDetalhe-info">
                <button type="button">
                    <i class="fa fa-plus-square"></i>
                </button>

                <button type="button">
                    <i class="fa fa-pencil-square"></i>
                </button>

                <button type="button">
                    <i class="fa fa-trash-o"></i>
                </button>

                <span class="badge countRegistros"></span>
            </div>
        </div>

        <div class="mestreDetalhe-body">
            <table class="table table-striped border datatable tableDetalhe">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="">
                        <td>João</td>
                        <td>123.456.789-00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
