<div class="row" style="width: 75%; margin-left: 0px;"> 
    <div class="alert alert-info  fade show" role="alert"  >
        <ul class="columns">
            <li>
                <b>Valor boleto:</b> {{valores.taxaboleto | currency: 'BRL'}}
            </li>
            <li>
                <b>Valor Água:</b> {{valores.valoragua | currency: 'BRL'}}
            </li>
            <li>
                <b>Taxa Básica:</b> {{valores.taxabasicaagua | currency: 'BRL'}}
            </li>
            <li>
                <b>Valor Uso Salão de Festas:</b> {{valores.valorsalaofestas | currency: 'BRL'}}
            </li>
            <li>
                <b>Valor Limpeza Salão de Festas:</b> {{valores.valorlimpezasalaofestas | currency: 'BRL'}}
            </li>
            <li>
                <b>Valor Mudança:</b> {{valores.valormudanca | currency: 'BRL'}}
            </li>
        </ul>
    </div>
</div>